Source/project_icarus/.vs/
Source/project_icarus/project_icarus/Properties/Resources.Designer.cs
Source/project_icarus/project_icarus/Properties/Settings.Designer.cs
Source/project_icarus/project_icarus/bin/
Source/project_icarus/project_icarus/obj/
